body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
  font-weight: 1000;
}
#starting {
  margin-top: 5%;
}
.border-left {
  border-left: 5px solid;
  border-image: linear-gradient(rgb(255, 0, 43), rgb(255, 0, 34));
  border-image-slice: 1;
  margin-right: 5px;
  padding: 15px;
}

.container-flex {
  display: flex;
  width: 90%;
  margin-bottom: 140px;
}
.half-width img {
  width: 70%;
  padding-left: 10%;
}
.half-width {
  width: 50%;
  padding-left: 15%;
}
.orang {
  color: rgb(132, 223, 166);
}
.button {
  text-decoration: none;
  background: #fe0001;
  padding: 10px 40px;
  color: white;
  font-weight: 700;
  border-radius: 7px;
}
.illustrators {
  width: 30%;
}
.center-text {
  text-align: center;
}
.container-flex2 {
  display: flex;
  margin-left: 13%;
  margin-right: 13%;
  margin-bottom: 70px;
}
#mission {
  background-color: rgb(241, 239, 235);
  padding: 40px;
  border-radius: 5%;
  margin-right: 30px;
}
#vission {
  background-color: rgb(230, 237, 243);
  padding: 40px;
  border-radius: 5%;

  text-align: justify;
}
#goals {
  background-color: rgb(175, 219, 219);
  padding: 40px;
  border-radius: 5%;
  margin-left: 30px;
  text-align: justify;
}
#developr {
  margin-left: 0;
}
.developer-image {
  width: 55%;
  margin-left: 245px;
}
.footer {
  text-align: center;
  background-color: rgb(80, 74, 67);
  padding: 10px;
  margin: 0;
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
